.container {
  display: grid;
  grid-auto-columns: 375px, auto; /*Minimum width 375px, scale to window*/ 
  grid-template-rows: 100px auto 400px 100px;
  justify-self: center;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px 20px;
  font-size: 30px;
  text-align: center;
}